# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual Environment
# ======================
venv/
.venv/
env/
ENV/

# ======================
# Packaging / Build
# ======================
build/
dist/
*.egg-info/
.eggs/

# ======================
# Pytest / Coverage
# ======================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ======================
# Logs
# ======================
*.log

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# dotenv
# ======================
.env

# ======================
# Old Code
# ======================
**/db/legacy
**/db/legacy/*
**/db_manager_legacy.py
**/database_legacy.py